@charset "UTF-8";
body {margin: 0;}
div {
	height: 100vh;
	background-attachment: fixed;
	background-size: cover;
}
.bg1 {background-image: url("img1.jpg");}
.bg2 {background-image: url("img2.jpg");}
.bg3 {background-image: url("img3.png");}
p {margin: 0; text-align: center; font-weight: bold; font-size: 3rem;}