@charset "UTF-8";
body {
	margin: 0; 
	background-image: url(https://i.pinimg.com/originals/e5/2d/f3/e52df3b6a99733e2553561012ac39974.png);
}
#div1, #div3 {
	height: calc((100vh - 500px) / 2);
}
#div2 {
	height: 500px;
	width: 500px;
	margin: 0 calc((100% - 500px) / 2);
}
/* #div1 { */
/* 	background-color: red; */
/* } */
/* #div3 { */
/* 	background-color: green; */
/* } */
/* #div2 { */
/* 	background-color: yellow; */
/* } */
#div2-1 {
	padding: 10px 0 25px;
/*     background-color: blue; */
}
h1 {
	margin: 0;
	font-size: 4rem;
	text-align: center;
	color: white;
}
#div2-2 {
	padding: 1.5px;
}
#input {
	width: calc(100% - (77px / 2));
	padding: 20px 0 20px calc(77px / 2);
	font-size: 2rem;
	border: 0;
	border-radius: calc(77px / 2);
}
#div2-3 div {
	width: calc(100% / 5);
	height: 90px;
	float: left;
	margin: 5px 0;
/* 	background-color: #fbaf48; */
}
#div2-3 div:hover {
	background-color: #ff7373;
	cursor: pointer;
}