@charset "UTF-8";
body {margin: 0;}
.bg1 {background-color: green;}
.bg2 {background-color: red;}
.bg3 {background-color: yellow;}
.bg4 {background-color: aqua;}
.bg5 {background-color: olive;}

#div1 {height: 50px;}
#div2 {width: 100px; 
		height: calc(100vh - 50px); 
		float: left;}
#div3 {width: calc(100% - 100px); 
		height: calc(100vh - 50px); 
		float: left;}

#div4, #div5 {padding: 10px;}
#div4 {height: calc(30% - 20px);}
#div5 {height: calc(70% - 20px);}

.div4 {width: calc((100% / 2) - 20px); 
		height: calc(100% - 20px); 
		margin: 10px; 
		float: left;}
.div5 {width: calc(100% - 20px); 
		height: calc((100% / 4) - 20px); 
		margin: 10px; 
		float: left;}
