@charset "UTF-8";
body {margin: 0;}
header {
	height: 50px;
	background-color: blue;
}
section {
	padding: 20px 0;
/* 	min-height: calc(100vh - 140px); */
}
footer {
	height: 50px;
	background-color: green;
}
div {
	height: 90px;
	background-color: red;
	width: calc((100% / 3) - 10px);
	margin: 5px;
	float: left;
}
.list::after {
	clear: both;
	content: "";
	display: block;
}
