@charset "UTF-8";
body {margin: 0; overflow: hidden;}

#div1{
	background-color: yellow;
	height: 20vh;
}

#div2, #div3{
	width :50vw;
	height: 50vh;
	float: left;
}
#div2{
	background-color: red;
}
#div3{
	background-color: green;
}
#div4{
	clear: both;
	background-color: blue;
	height: 30vh
}