@charset "UTF-8";
body{margin:0;}
header{
	height: 50px;
	background-color: blue;
}
section{
	height: calc(100vh - 100px);
	overflow: hidden;  /*overflow: hidden;*/
}
footer{
	height: 50px;
	background-color: green;
}

nav{
	width: 100px;
	background-color: black;
	height: calc(100vh - 100px);
	position: fixed;
}

div{
	height: 100px;
	background-color: red;
}
article{
	background-color: yellow;
	height: calc(100vh - 100px);    /* height: 100%; */ 
	overflow: auto;					/* overflow-y: scroll; */
}