@charset "UTF-8";
body {
				margin: 0;
				overflow: hidden;
			}
			.div{
				width: 50vw;
				height:	70vh;
				float: left;
			}
			#div1{
				background-color: yellow;
				height: 30vh;
			}
			#div2{
				background-color: red;
			}
			#div3{
				background-color: blue;
			}