@charset "UTF-8";
body {
		margin: 0;
	 }
#div1 {
		width : 100%;
		height: 100px; 
		background-color: #95ff62;
/* 		opacity: 0.4; */
		position: fixed;
		top: 0;
/* 		bottom: 0; */
		left: 0;
/* 		right: 0; */
	  }

#div2 {
		background-color: #408080;
		}	  
#div3 {
		background-color: #0000ff;
		}	  
#div4 {
		background-color: #ff00ff;
		}
#div5 {
		background-color: #800000;
		}	  
	  
.div{
	padding-top: 100px;
	height: calc(100vh - 100px);
	background-color: #252525;
	color: white;
	font-weight: bold;
	text-align: center;
	}

p  { 
	margin: 0; 
	}

.a {
	width: calc(100% / 4);
/* 	height: 100%; */
	display: block;
	float: left;
	text-align: center;
/* 	background-color: red; */
	padding: calc((100px - 40px) / 2) 0;
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-size: 30px;
}

a:hover, .active {
	color: green;
	background-color: red;
}