@charset "UTF-8";
.padim{ margin-bottom: 12px; }
.bgimg{ background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-image: url(1Jane.jpg);
		min-height: 100%;
}

body { margin: 0;
	   font-size: 15px;
       line-height: 1.5;
    }
    
.sidebar{
	height: 100%;
    width: 200px;
    background-color: #ffffff;
    position: fixed !important;
    z-index: 1;
    overflow: auto;
}

.form{
	height: 10vh;
	display: block;
	}
	
.Jane-txt{
		text-align: center;
		font-size: 70px;
		color: #000000;
/* 		position: relative; */
/* 		top: 4%; */
/* 		right: 15%; */
/*      transform: translate(-50%, 0); */
}